@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body{
    font-family: 'Otomanopee One', sans-serif;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
    background-color: #FD3A69;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.todo{
    margin-top: 5rem;
    text-align: center;
}

header{
    background-color: #120078;
    color: #FECD1A;
    text-transform: uppercase;
    text-shadow: 0px 3px #9D0191;
}

.container{
    background-color: #FECD1A;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    width: 20rem;
    height: 20rem;
    box-shadow: 0 0 10px black;
}

div input{
    width: 200px;
    font-family: 'Otomanopee One', sans-serif;
    background-color: transparent;
    outline: none;
    border: none;
    height: 40px;
    padding: 20px;
    margin: 20px 10px 20px 0;
    font-size: 20px;
    border-bottom: 5px dotted black ;

}

div input::placeholder{
    color: black;
    font-size: 18px;
    opacity: .5;
    font-family: 'Otomanopee One', sans-serif;
}

div button{
    width: 4rem;
    height: 3rem;
    border: none;
    background-color: #FD3A69;
    color: #120078;
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    box-shadow: 2px 2px #120078;
}

.list{
    text-align: left;
    margin: 1rem 4rem;
}


footer{
    margin-top: 7rem;
    font-size: 13px;
    text-transform: uppercase;
    opacity: .75;
}